.curtain {
	width: 100%;
	height: 100%;
	background-color: #cccccc;
	opacity: 0.65;
	position:absolute;
	left: 0;
	top: 0;
	z-index: 15;
}

.modal {
	margin: auto auto;
	background-color: white;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -60%);
	border: 1px solid #000000;
	-webkit-box-shadow: 3px 3px 3px #333333;
	z-index: 16;
}

.modal .body {
	padding: 30px;
	min-width: 400px;
	min-height: 200px;
}

.modal .close {
	position: absolute;
	top: 1px;
	right: 4px;
}

.modal .close.black_button .inner_button {
	padding: 4px 4px 4px 7px;
	width: 16px;
	font-size: 14px;
}

.outer_modal {
	width: 100%;
	height: 100%;
	text-align: left;
}

.modal .button_bottom {
	position: absolute;
	bottom: 15px;
	text-align: center;
	width: 345px;
	font-family: tahoma;
}

.header {
	border-bottom: 1px solid #333;
	background: #444 url(../img/ui-bg_highlight-soft_44_444444_1x100.png) 50% 50% repeat-x;
	color: #fff;
	font-weight: bold;
	padding: 11px;
	font-family: Tahoma;
	font-size: 13px;
	letter-spacing: 1pt;
	-webkit-text-shadow: -1px -1px 0 #000000;
	-moz-text-shadow: -1px -1px 0 #000000;
	text-shadow: -1px -1px 0 #000000;
	position: relative;
}
.header    .plus_sign {
	width: 19px;
	height: 19px;
	position: absolute;
	top: 7px;
	right: 7px;
	-webkit-filter: grayscale(1) invert(1);
	filter: grayscale(1) invert(1);
	background: url(../img/edit_pencil.png);
	background-size: 100% 100%;
	cursor: pointer;
}

.header .plus_sign {
	background: url(../img/plus.png);
	background-size: 100% 100%;
	right: 8px;
}

.button_outer {
	position: relative;
	display: inline-block;
}

.button_outer .inner_button:active {
	position: relative;
	top: 1px;
	left: 1px;
	box-shadow: 0 0 0;
	-moz-box-shadow: 0 0 0;
}

.button_outer .inner_button {
	position: relative;
	top: 0;
	box-shadow: 1px 1px 2px #666666;
	-moz-box-shadow: 1px 1px 2px #666666;
	background: red;
	/* For browsers that do not support gradients */
	background: -webkit-linear-gradient(#666666, #333333);
	/* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#666666, #333333);
	/* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#666666, #333333);
	/* For Firefox 3.6 to 15 */
	background: linear-gradient(#666666, #333333);
	/* Standard syntax */
	color: white;
	font-size: 11px;
	padding: 7px;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	display: inline-block;
	border: 1px solid #222222;
	width: 81px;
	margin: 5px;
	text-align: center;
	cursor: pointer;
	text-transform: none;
}


.file_select {
	height: 30px;
	font-size: 14px;
}

.file_select option {
	padding: 8px;
}

.executable_input {
	position: fixed;
	top: 100px;
	left: 0;
	padding: 10px;
	z-index: 1000;
	border: 1px solid #bbbbbb;
	background-color: #EEEEEE;
}

.executable_input .exe_filename {
	padding: 8px;
	font-size: 14px;
}

.executable_input [type="button"] {
	padding: 8px;
}

.executable_input .enter_exe {
	padding: 6px 0;
}