html, body {margin:0;padding:0;height:100%;
font-family: monospace;
}

/*.split {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;

    overflow: auto;
    
  }

.gutter {
    background-color: #eee;
    background-repeat: no-repeat;
    background-position: 50%;
  }

  .gutter.gutter-horizontal {
    background-image: url('grips/vertical.png');
    cursor: ew-resize;
  }

  .gutter.gutter-vertical {
    background-image: url('grips/horizontal.png');
    cursor: ns-resize;
  }

  .split.split-horizontal, .gutter.gutter-horizontal {
    height: 100%;
    float: left;
  }*/
  
#highlightList {
  overflow:auto;
  /*float:left;*/
  background-color: #FFFFFF;
  padding: 5px;
  margin:0;
  width:100%;
  height:100%;

}

#left {
  overflow: auto;
  /*float: left;*/
  background-color: #FFFFFF;
  width:100%;
  height:100%;
  
}

#middle {
  overflow: auto;
  /*float: left;*/
  background-color: #FFFFFF;
  width: 100%;
  height: 100%;
}

#right {
	overflow: auto;
	/*float:left;*/
  /*background-color: #FDF3E7;*/
  background-color: #FFFFFF;
  padding:0;
  width: 100%;
  height: 100%;

}

#var_rename_window {
  overflow: auto;
  background-color: #FFFFFF;
  width: 100%;
  height: 100%;
  margin-bottom: 10px;
}

.panel {
  overflow: auto;
  background-color: #FFFFFF;
  width: 100%;
  height: 100%;
}

.text_code {
	/*padding-left:10px;*/
  margin:0;
}

svg {
  overflow: auto;
  padding: 5px;
  width: 100%;
  height:100%;
}

.node rect {
  /* stroke: #333; */
  stroke: black;
  stroke-width: 1.5px;
  fill: linen;
}

.edgeLabel rect {
  fill: #fff;
}

.edgePath {
  stroke: #000;
  stroke-width: 1.5px;
  fill: none;
}

/*
.node.selected rect{
	stroke-width:9; stroke:#F44336;
}
*/



.brush .extent {
	fill-opacity: .1;
	stroke: #fff;
	shape-rendering: crispEdges;
}


.invisible {
	display: none !important; 
}

.node.group rect {
	stroke: #3f51b5;
	stroke-width: 3px;
}

.node.function rect {
  stroke: #3f51b5;
  stroke-width: 9px;
}

.node.loop rect {
  stroke: #3f51b5;
  stroke-width: 3px;
}

#tooltip {
        position: absolute;
        width: 300px;
        height: auto;
        padding:3px;
        background-color: white;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
        -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
        pointer-events: none;
        
}

.hidden {
  display:none;
}

#tooltip p {
        margin: 0;
        font-family: monospace;
        font-size: 1.25em;
}

label {
   cursor: pointer;
}

.text_code p {
  padding: 5px;
  margin:0;
  
}

.text_code p.empty{
	background-color: #EEE;
}

.text_code p.highlight{
  background-color:#f7f3d7;
  border-color: teal;
  /*border-color: #009999;*/
  border-style: solid;
  border-width: 2px;
}

.text_code span.highlight{
  background-color:#e5a6a6;
  padding-left:2px;
  padding-right:2px;

}

.text_code p.active {
  background-color:antiquewhite;
  border-color: teal;
  /*border-color: #009999;*/
  border-style: solid;
  border-width: 2px;

  border-left: 5px solid teal;
  /*border-left: 5px solid #009999;*/
}

.text_code p.start{
  border-color:lightgreen;
  border-style:solid;
  border-width:2px;
}

.text_code p.end{
  border-color:plum;
  border-style:solid;
  border-width:2px;
}

.node.highlight {
  /* fill:white; */
}

.node.highlight rect{
  /*fill:#19a122; */
  /* stroke:darksalmon; */
  /*stroke-width:2px; */

  /* stroke-width:9; stroke:#19a122; */
  stroke-width:9; 
  stroke:teal;
  /*stroke:#009999;*/
}

.node.active {
  /* fill:white; */
}

.node.active rect{
  /* fill:teal; */
  /*stroke:teal;
  stroke-width:2px; */

  stroke-width:9; 
  stroke:teal; 
  /*stroke:#009999;*/
}

.edgePath.highlight {
  stroke:darkcyan;
  stroke-width:5px;
}

.edgePath.backedge {
  /* stroke: darkorange; */
  stroke: #dd1c77;
  
  stroke-width:15px;
}

.edgePath.active {
   stroke:teal; 
  /*stroke:#009999;*/

  stroke-width:5px;
}

.edgeLabel.highlight {
  font-size: x-large;
}

.node.dashed {
  stroke-dasharray: 5,8;
}

.edgePath.dashed {
  stroke-dasharray: 5,8;
}

.edgePath.inline {
  stroke:blue;
}

#lineContainer line{
  opacity:0.5;
  stroke-width:0.5;
}

#lineContainer path{
  fill-opacity:0.1;
}

#lineContainer line.highlight{
  opacity:0.7;
  stroke-width:1.5;
}

#lineContainer path.highlight{
  fill-opacity:0.5;
}



.treeNode rect {
  cursor: pointer;
  fill: #fff;
  fill-opacity: 0.5;
  stroke: #3182bd;
  stroke-width: 1.5px;
}

.treeNode text {
  /* font: 10px monospace; */
  font: 1.0em monospace;
  pointer-events: none;
}

.treeLink {
  fill: none;
  stroke: #9ecae1;
  stroke-width: 1.5px;
}

.treeNode.highlight rect {
  stroke-width:3px; 
  stroke:teal;
}

hr { 
  margin: 0;
  border-width: 1px;
  margin-top: -20px;
  margin-bottom:-20px;
  border-style:solid;
  border-width: 2px;
}

#highlightList p.start{
  border-top: 1px solid black ;
  border-bottom:0;
  border-left:0;
  border-right:0;
}

/* Style for the topHoverMenu */
/* Dropdown Button */
.dropbtn {
    background-color: #7386D5;
    color: white;
    padding: 5px 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;

    position:fixed;
    /*left:300px;*/
    left:30%;
    top:0;

    width:70px;
    height:30px;

    z-index: 3;

}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    /* position: relative; */
    position:fixed;
    left:0;
    top:0;

    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    
    /*position: absolute;*/
    
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 10;
    padding:10px;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
/*
.dropdown:hover .dropdown-content {
    display: block;
}
*/

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #5060a0;
}

.template_locHolder {
  margin-left: 10px; 
  padding-bottom: 3px;
  padding-top:2px;
}

p.selected{
  opacity:0.75;
  /*background-color: darksalmon;*/
  background-color: #d2e4f5 !important;
  border-width:1px !important;
}

.node.selected rect{
  fill-opacity:0.75;
  fill: #d2e4f5 !important;
  stroke-width:3px !important;
  stroke:#386793 !important;
}
