<!DOCTYPE HTML>
<html lang="en">
	<head>
    <meta charset="utf-8">
    <title>Compiler Optimization Explorer</title>
    <script src="../static/opt_vis/lib/split.js"></script>
    <script src="../static/opt_vis/lib/d3.v5.js"></script>
    
    <link rel="stylesheet" type="text/css" href="../static/opt_vis/style.css">
    <link rel="stylesheet" href="../static/opt_vis/lib/atom-one-light.css">
    <script src="../static/opt_vis/lib/highlight.pack.js"></script>
    
  
</head>
  <body>
     
      <div id="left" class="split split-horizontal">
      	<pre class="text_code">
         <code id="text_src" class="js"> </code> 
        </pre>
            
      </div>
      
      <div id="right" class="split split-horizontal">
          <!-- pre id="text_assembly" class="text_code"></pre -->
          <svg id = "assemblyContainer">
            <g/>
          </svg>
      </div>
    
    <script src="../static/opt_vis/main.js"></script>
        
  </body>
</html>
